<div class="sidebar" data-color="orange">
    <div class="logo">
        <a href="http://acme.com" class="simple-text logo-mini">
            OB
        </a>
        <a href="http://acme.com" class="simple-text logo-normal">
            Post CC
        </a>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
            <li>
                <a href="/">
                    <i class="now-ui-icons design_app"></i>
                    <p>Posts</p>
                </a>
            </li>
        </ul>
    </div>
</div>